@charset "UTF-8";

/* Google Fontsからインポート */
/* M PLUS 1p */
/* https://fonts.google.com/specimen/M+PLUS+1p */
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@100;300;400;500;700;800;900&display=swap');

/* タイトル */
h1#title {
	font-size: 3em !important;
	font-weight: 800 !important;
}

/* 全体設定 */
body {
	font-family: "M PLUS 1p", "Hiragino Sans", "Yu Gothic UI", "Meiryo UI", "Meiryo", "sans-serif" !important;
	font-weight: 400 !important;
}

b, strong {
	font-weight: 800 !important;
}

h2, h3, h4, h5, h6 {
	font-weight: 400 !important;
}