@charset "UTF-8";

/* Google Fontsからインポート */
/* M PLUS 1p */
/* https://fonts.google.com/specimen/M+PLUS+1p */
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@100;300;400;500;700;800;900&display=swap');

/* Noto Sans JP */
/* https://fonts.google.com/specimen/Noto+Sans+JP */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');

/* Yusei Magic */
/* https://fonts.google.com/specimen/Yusei+Magic */
@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');

/* タイトル */
h1#title {
	font-family: "Yusei Magic", "Hiragino Sans", "Yu Gothic UI", "Meiryo UI", "Meiryo", "sans-serif" !important;
	font-size: 4em !important;
	font-weight: 400 !important;
}
h1#entry-title {
	font-size: 1.3em !important;
	font-weight: 800 !important;
}

/* 全体設定 */
body {
	font-family: "Noto Sans JP", "Hiragino Sans", "Yu Gothic UI", "Meiryo UI", "Meiryo", "sans-serif" !important;
	font-weight: 400 !important;
}

/* 見出し設定 */
h2, h3, h4, h5, h6 {
	font-weight: 600 !important;
}

/* 文字装飾設定 */
b, strong {
	font-weight: 800 !important;
}

/* 959px以下に適用されるCSS */
@media screen and (max-width: 959px) {
	
	/* 全体設定 */
	#container {
		max-width: 100% !important;
	}

	/* 画像表示 */
	article > img {
		width: 100%;
	}
	
	/* ブログタイトル設定 */
	h1#title {
		font-size: 300% !important;
	}
	
	/* 記事設定 */
	article > ul {
		padding-left: 45px !important
	}
	
	/* 外部コンテンツの埋め込みカード */
	.embed-card, .embed-webcard {
		max-width: 100% !important;
	}
	.embed-content, .embed-title {
		font-size: 200% !important;
	}
	.embed-content, .emtry-content {
		font-size: 200% !important;
	}

	/* フッター設定 */
	/* アイコン設定 */
	.hatena-module, .profile-icon {
		display: block;
	}
}